:root {
  --black-color: #000000;
  --gray-color: #9c9c9c;
  --dark-gray-color: #333;
  --white-color: #ffffff;

  font-size: 50%; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--black-color);
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--white-color);
}