.logo-container {
  background: var(--black-color);
  padding: 1.1rem 0 1.1rem 1.6rem;
}

.white-logo {
  width: 9.2rem;
}

.main-container {
  width: 90vw;
  margin: 0 auto;
  padding: 5rem 0 2.5rem 0;
}

.main-title {
  font-size: 3.1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

input {
  width: 96%;
  height: 4rem;
  border: 1px solid var(--primary-light-gray-color);
  padding-left: 1rem;
  margin: 1rem 0 3rem 0;
  color: var(--black-color);
  font-size: 1.5rem;
}

input:focus {
  border: 1px solid var(--secondary-light-gray-color);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  width: 50vw;
  height: 5rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border-radius: 50px;
  text-transform: uppercase;
  background: var(--secondary-dark-green-color);
  color: var(--white-color);
  font-size: 1.5rem;
}

.send-button:hover {
  background: var(--light-green-color);
}

.support-link {
  color: var(--secondary-dark-green-color);
  text-decoration: none;
}

.support-link:hover {
  color: var(--light-green-color);
}

footer {
  background: var(--black-color);
}

.main-footer-container {
  width: 90vw;
  margin: 0 auto;
  color: var(--secondary-light-gray-color);
  padding: 3rem 0;
}

.secondary-footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.usa-link {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1rem;
  color: var(--secondary-light-gray-color);
}

.usa-link:hover {
  color: var(--light-green-color);
}

.usa-flag {
  width: 3rem;
  height: 4rem;
}

.tertiary-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li {
  display: inline;
  margin-right: 1rem;
}

li a {
  text-decoration: none;
  color: var(--secondary-light-gray-color);
}

li a:hover {
  color: var(--light-green-color);
}