:root {
  --white-color: #fff;
  --primary-light-gray-color: #cac8c8; 
  --secondary-light-gray-color: #969494;
  --primary-dark-gray-color: #606467;
  --secondary-dark-gray-color: #333;
  --black-color: #000;
  --primary-dark-blue-color: #3b5999;
  --secondary-dark-blue-color: #3b61b4;
  --primary-dark-green-color: #15883d;
  --secondary-dark-green-color: #28d860;

  font-size: 60%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}