:root {
  --primary-backgroung-color: #478ccd;
  --secondary-background-color: #f6f7f9;
  --placeholder-font-color: #d0d6dc;
  --input-border-color: #e1e6eb;
  --primary-font-color: #444;
  --secondary-font-color: #8bbae7;
  --white-color: #fff;

  font-size: 60%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-backgroung-color);
  font-family: 'Open Sans', sans-serif;
}