main {
  width: 100vw;
  /* height: 100vh; */
}

.grid-layout {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.legend {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .80), rgba(0, 0, 0, .80) 100%);
  position: absolute;
  font-size: 1.5rem;
  padding: 2rem 0 0 2rem;
  color: var(--white-color);
}

.legend:hover {
  opacity: 1;
  cursor: pointer;
  transition: .8s;
}

.image a img {
  width: 100%;
  height: 100%;
  display: block;
}

.image a {
  cursor: pointer;
}

@media screen and (min-width: 541px) {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}

@media screen and (min-width: 769px) {
  main {
    width: 99vw;
    margin: 0 auto;
  }
}