.video {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  padding: 12rem 0;
}

.secondary-title {
  text-transform: uppercase;
  font-size: 2.8rem;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.paragraph {
  width: 85%;
  margin: 0 auto;
}

.video-legend {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
}

.text {
  width: 85%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-paragraph {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
}

fieldset {
  width: 85%;
  margin: 0 auto;
  border: none;
}

label {
  font-size: 1.5rem;
  text-transform: uppercase;
}

input {
  width: 100%;
  height: 4.5rem;
  margin: 1rem 0 2rem 0;
  padding-left: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: var(--dark-gray-color);
  color: var(--white-color);
}

textarea {
  width: 100%;
  height: 12rem;
  margin: 1rem 0 2rem 0;
  padding: 1.4rem 0 0 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  resize: vertical;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: var(--dark-gray-color);
  color: var(--white-color);
}

.button {
  width: 100%;
  height: 4.5rem;
  margin-top: 1rem;
  padding-left: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
  transition: .3s;
}

.button:hover {
  background: var(--gray-color);
}

@media screen and (min-width: 601px) {
  .content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .text {
    width: 85%;
    margin: 0 auto;
    padding: 5rem 2rem 0 0;
    vertical-align: top;
  }

  .subtitle,
  .about-paragraph {
    text-align: left;
  }

  .form {
    width: 100%;
  }

  fieldset {
    width: 95%;
    margin: 5rem 0 0 2rem;
    border: none;
  }
}

@media screen and (min-width: 829px) {
  :root {
    font-size: 55%;
  }
}