.primary-form-container {
  width: 400px;
  height: 380px;
  margin: 0 auto;
  border-radius: 3px;
  background: var(--secondary-background-color);
}

.input-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--primary-font-color);
  padding: 3rem 0;
}

input {
  width: 94.3%;
  height: 5rem;
  margin: 1rem 0 2.5rem 0;
  padding-left: 2rem;
  background: var(--white-color);
  border: none;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

::placeholder {
  font-size: 1.5rem;
  color: var(--placeholder-font-color);
}

label {
  font-size: 1.5rem;
  text-align: left;
  color: var(--primary-font-color);
  font-weight: bold;
}

.button {
  width: 100%;
  height: 5rem;
  border: none;
  background: var(--primary-backgroung-color);
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  cursor: pointer;
  color: var(--white-color);
  font-size: 1.8rem;
}

.register-paragraph {
  margin: 4rem 0 1rem 0;
}

.paragraph,
.register-paragraph,
.login-paragraph {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-font-color);
}

.link {
  color: var(--white-color);
}

.link:hover {
  text-decoration: underline;
}