.primary-form-container {
  width: 400px;
  height: 395px;
  margin: 0 auto;
  border-radius: 3px;
  background: var(--secondary-background-color);
}

.input-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  color: var(--primary-font-color);
  padding: 30px 0;
}

input {
  width: 94.3%;
  height: 50px;
  margin: 10px 0 25px 0;
  padding-left: 18px;
  background: var(--white-color);
  border: none;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

input:focus {
  background-image: url('../../icon/check-solid.svg');
  background-repeat: no-repeat;
  background-position: 290px 18px;
  background-size: 15px;
}

::placeholder {
  font-size: 14px;
  color: var(--placeholder-font-color);
}

label {
  font-size: 14px;
  text-align: left;
  color: var(--primary-font-color);
  font-weight: bold;
}

.button {
  width: 100%;
  height: 50px;
  border: none;
  background: var(--primary-backgroung-color);
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  cursor: pointer;
  color: var(--white-color);
  font-size: 16px;
}

.register-paragraph {
  margin: 40px 0 10px 0;
}

.paragraph,
.register-paragraph,
.login-paragraph {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-font-color);
}

.link {
  color: var(--white-color);
}

.link:hover {
  text-decoration: underline;
}