body {
  padding: 128px 0;
}

.secondary-form-container {
  width: 400px;
  height: 680px;
  margin: 0 auto;
  background: var(--secondary-background-color);
  border-radius: 3px;
}

.secondary-title {
  text-align: center;
  font-size: 24px;
  padding: 30px 0;
  color: var(--primary-font-color);
  font-weight: normal;
}

.input {
  margin-bottom: 15px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container > label {
  font-size: 12px;
  padding-left: 15px;
  padding-bottom: 15px;
}

input[type=checkbox] {
  width: 20px;
  border-radius: 5px;
}

.login-paragraph {
  margin-top: 40px;
  font-weight: bold;
}

.terms-link {
  color: var(--primary-backgroung-color);
}