body {
  padding: 128px 0;
}

.secondary-form-container {
  width: 400px;
  height: 680px;
  margin: 0 auto;
  background: var(--secondary-background-color);
  border-radius: 3px;
}

.secondary-title {
  text-align: center;
  font-size: 24px;
  padding: 30px 0;
  color: var(--primary-font-color);
  font-weight: normal;
}

.input {
  margin-bottom: 15px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container > label {
  font-size: 12px;
  padding-left: 15px;
  padding-bottom: 15px;
}

input[type=checkbox] {
  display: none;
}

.checkbox-container {
  width: 90%;
  margin-left: 30px;
}

.label-checkbox {
  position: relative;
  margin: 20px 0;
  margin-top: 20px;
}

.label-checkbox:before {
  content: '';
  background: var(--white-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  margin-top: 8px;
}

.label-checkbox:after {
  content: url("../../icon/check-solid.svg");
  height: 10px;
  width: 10px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: -23.9px;
  top: 11.3px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label-checkbox:after {
  transform: scale(1);
}

.terms-link {
  color: var(--primary-backgroung-color);
}

.login-paragraph {
  margin-top: 40px;
  font-weight: bold;
}