body {
  padding: 150px 0;
}

.secondary-form-container {
  width: 400px;
  height: 660px;
  margin: 0 auto;
  background: var(--secondary-background-color);
  border-radius: 3px;
}

.secondary-title {
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem 0;
  color: var(--primary-font-color);
  font-weight: normal;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container > label {
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1.3rem;
}

input[type=checkbox] {
  width: 2rem;
  border-radius: 5px;
}

.login-paragraph {
  margin-top: 4rem;
  font-weight: bold;
}

.terms-link {
  color: var(--primary-backgroung-color);
}